.libs/
build
build-am
gexiv2/.libs
gexiv2/.dirstamp
gexiv2/gexiv2-version.h
/gexiv2.pc
*.lo
*.o
*.la
/configure.mk
/GExiv2-*.*.gir
/GExiv2-*.*.typelib
vapi/gexiv2.gi
test/gexiv2-dump
test/python/gi
*.pyc
__pycache__
.flatpak-builder
_build
*.user
.vscode

# Autotools files.
Makefile.in
Makefile
configure
build-aux/
config.log
config.status
libtool
.deps/
aclocal.m4
autom4te.cache/
m4/
test/*.log
test/*.trs
test-suite.log
