.libs/
gexiv2/.libs
gexiv2/gexiv2-version.h
/gexiv2.pc
*.lo
*.o
*.la
/configure.mk
/GExiv2-0.4.gir
/GExiv2-0.4.typelib
vapi/gexiv2.gi
test/gexiv2-dump

# Autotools files.
Makefile.in
Makefile
configure
build-aux/
config.log
config.status
libtool
.deps/
aclocal.m4
autom4te.cache/
m4/
