Source: gexiv2
Priority: extra
Maintainer: Jens Georg <mail@jensge.org>
Build-Depends: debhelper (>= 7),
               gtk-doc-tools,
               automake,
               m4,
               libtool,
               libglib2.0-dev,
               libexiv2-dev (>= 0.26),
               libexpat1-dev,
               gobject-introspection (>= 0.9.12-4~),
               libgirepository1.0-dev (>= 0.9.12),
               gir1.2-glib-2.0,
               python3-gi,
               python3:any,
               dh-python,
               valac,
               meson
Standards-Version: 3.9.8
Section: libs
Homepage: https://wiki.gnome.org/Projects/gexiv2

Package: libgexiv2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libgexiv2-2 (= ${binary:Version}),
         gir1.2-gexiv2-0.10 (= ${binary:Version}),
         ${misc:Depends}
Description: GObject-based wrapper around the Exiv2 library (development files)
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.

Package: libgexiv2-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends},
         libgexiv2-2 (= ${binary:Version}),
Description: GObject-based wrapper around the Exiv2 library (development files)
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.

Package: libgexiv2-doc
Section: doc
Architecture: any
Depends: ${misc:Depends}
Description: GObject-based wrapper around the Exiv2 library (development files)
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.

Package: libgexiv2-2
Section: libs
Architecture: any
Conflicts: libgexiv2-0, libgexiv2-1
Replaces: libgexiv2-0, libgexiv2-1
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: GObject-based wrapper around the Exiv2 library
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.

Package: gir1.2-gexiv2-0.10
Section: introspection
Architecture: any
Conflicts: gir1.2-gexiv2-0.10
Replaces: gir1.2-gexiv2-0.10
Depends: ${gir:Depends},
         ${misc:Depends}
Description: GObject introspection data for the GExiv2 library.
 This package contains introspection data for GExiV2.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: python3-gexiv2
Architecture: any
Depends: gir1.2-gexiv2-0.10 (= ${binary:Version}),
         libgexiv2-2 (= ${binary:Version}),
         python3-gi,
         ${python3:Depends},
         ${misc:Depends}
Description: GExiv2 GObject introspection overrides for Python (Python3)
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.
