Source: gexiv2
Priority: extra
Maintainer: Jim Nelson <jim@yorba.org>
Build-Depends: debhelper (>= 7),
               autoconf,
               autotools-dev,
               automake,
               m4,
               libtool,
               libglib2.0-dev,
               libexiv2-dev,
               libexpat1-dev
Standards-Version: 3.8.4
Section: libs
Homepage: http://redmine.yorba.org/projects/gexiv2/wiki

Package: libgexiv2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         libgexiv2-2 (= ${binary:Version}),
         libexiv2-dev
Description: GObject-based wrapper around the Exiv2 library (development files)
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.

Package: libgexiv2-2
Section: libs
Architecture: any
Conflicts: libgexiv2-0, libgexiv2-1
Replaces: libgexiv2-0, libgexiv2-1
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: GObject-based wrapper around the Exiv2 library
 gexiv2 is a GObject-based wrapper around the Exiv2 library. It makes the basic
 features of Exiv2 available to GNOME applications.
